<div class="sidebar bg-primary">
  <a [routerLink]="['home']" routerLinkActive="active">Home</a>  

  <a [routerLink]="['prices', 10]" routerLinkActive="active">Prices</a>  

  <a [routerLink]="['about']" routerLinkActive="active">About</a>
</div>