*{
  box-sizing: border-box;
}

.sidebar{
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar a{
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 23px;
  text-align: center;
}

.sidebar a:hover{
  background-color: #e7fb55;
}

.active{
  background-color: #4df93e;

}