<div class="container text-center bg-primary w-25 py-3 mt-3">
  <a class="text-white" [routerLink]="['20', 'nuevoValor']" routerLinkActive="active">20</a>


  <a class="text-white" [routerLink]="['50']" routerLinkActive="active">50</a>


  <a class="text-white" [routerLink]="['80']" routerLinkActive="active">80</a>
  
</div>

<router-outlet></router-outlet>